<div class="wrap">
  <div class="content">
    <div class="card">
      <h2 class="title-lg">{{ isNew ? 'Créer un abonnement' : 'Modifier un abonnement' }}</h2>
      <form (submit)="$event.preventDefault()" novalidate>
        <div class="row2">
          <div>
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Type *</mat-label>
              <mat-select [(value)]="sub.subscriptionType">
                <mat-option value="Deraou">Deraou</mat-option>
                <mat-option value="Klasel">Klasel</mat-option>
                <mat-option value="Stroll">Stroll</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Payé le</mat-label>
              <input matInput type="datetime-local" [(ngModel)]="sub.paidAt" name="paidAt" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Expire le</mat-label>
            <input matInput type="datetime-local" [(ngModel)]="sub.expiresAt" name="expiresAt" />
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" (click)="onSave()" [disabled]="loading">{{ isNew ? 'Créer' : 'Modifier' }}</button>
        <div class="error" *ngIf="error">{{ error }}</div>
      </form>
    </div>
  </div>
</div>


